/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*, 
*:before, 
*:after {
  box-sizing: inherit;
}

body {
	font-family: Arial, Geneva, sans-serif;
}
a {
	color: #2772B0;
}
.wrapper {
	width: 97%;
	max-width: 1200px;
	margin: 0 auto;
	float: none;
	background-color: #fff;
}

div img {
	width: 100%;
	max-width: 225px; 
}

/* grid system -- mobile first! */


/* Mobile Landscape Screen Sizes */
@media only screen and (min-width: 480px)  {

}
/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {
	.row {
		display: flex;
		justify-content: space-around;
	}

/* 	[class^=col] {
		margin: 0 2%;
	} */

	.col-1 {
		flex: 0 0 21%;
	}

	.col-2 {
		flex: 0 0 46%;
	}

	.col-3 {
		flex: 0 0 71%;
	}

	.col-4 {
		flex: 0 0 96%;
	}
}

/* Uncomment the following lines for Debugging */
/* .col-4 {
	background-color: #c8c6fa;
}

.col-3 {
	background-color: #c3edfa;
}

.col-2 {
	background-color: #f09a9d;
}

.col-1 {
	background-color: #f5cf8e;
} */